<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse fixed-top">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-right:60px;">
        <a class="nav-link" href="#">Dates
          <br> 18th April-19th April<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="color:white;margin-top: 8px;">
        Rooms & Guests
        <br> 1 Room, 1 Adult
      </li>

    </ul>
    <div class="search" style="width:10%;">
      <button class=" btn btn-secondary button2" style="text-align:left">Edit</button>
    </div>

  </div>
</nav>

<div class="row">
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/bed-bedroom-ceiling-262048.jpg">
      <mat-card-content>
        <h3>Best Available Rate ₹ 7000/night</h3>
        <p> Includes Breakfast</p>
        <button class="btn btn-secondary button3" style="width:150px;">SELECT</button>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/apartment-bedroom-beds-2029722.jpg" style="height:414px;">
      <mat-card-content>
        <h3>Best Available Rate ₹ 5000/night</h3>
        <p> Includes Breakfast</p>
        <button class="btn btn-secondary button3" style="width:150px;">SELECT</button>
      </mat-card-content>
    </mat-card>

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/apartment-bedroom-beds-2029722.jpg">
      <mat-card-content>
        <h3>Best Available Rate ₹ 4900/night</h3>
        <p> Includes Breakfast</p>
        <button class="btn btn-secondary button3" style="width:150px;">SELECT</button>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/apartment-bed-bedroom-271618.jpg">
      <mat-card-content>
        <h3>Best Available Rate ₹ 5500/night</h3>
        <p> Includes Breakfast</p>
        <button class="btn btn-secondary button3" style="width:150px;">SELECT</button>
      </mat-card-content>

    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/apartment-close-up-coffee-357547.jpg">
      <mat-card-content>
        <h3>Best Available Rate ₹ 6000/night</h3>
        <p> Includes Breakfast</p>
        <button class="btn btn-secondary button3" style="width:150px;">SELECT</button>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/company-conference-room-contemporary-1181406.jpg">
      <mat-card-content>
        <h3>Best Available Rate ₹ 5000/night</h3>
        <p> Includes Breakfast</p>
        <button class="btn btn-secondary button3" style="width:150px;">SELECT</button>
      </mat-card-content>

    </mat-card>
  </div>
</div>

